<div class="container">
{{> nav-partial}}
<main>
    <div class="container">
    <div class="row">
        <div class="justify-content-center w-75 mx-auto">
        <h2 class="">Shopping Cart</h2>
        <p class="text-right"><b>Total €</b>&nbsp;36.3</p>
        <h2 class="">Items</h2>
        <table class="table">
            <thead>
            <tr class="small">
                <th scope="col">Qty</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
                <th scope="col">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {{#each item}}
            {{> cart-partial}}
            {{/each}}
            </tbody>
        </table>
        <p><b>Subtotal: €</b>&nbsp;30</p>
        <p><b>Tax: €</b>&nbsp;6.3</p>
        <p><b>Total: €</b>&nbsp;36.3</p>
        <div class="d-flex justify-content-end"> <a class="btn btn-primary" onclick = "Controller.controllers.purchase.refresh();"
            role="button">Purchase</a> </div>
        </div>
    </div>
    </div>
</div>
<br><br>
</main>
{{> footer-partial}}
</div>