<div class="container">
    {{> nav-partial}}
    <main>
      <div class="container">
        <div class="row">
          <div class="justify-content-center w-75 mx-auto">
            <h2 class="">Order Number</h2>
            <p><b>Date: </b>&nbsp;Date</p>
            <p><b>Address: </b>&nbsp;Address</p>
            <p><b>Card number: </b>&nbsp;Number</p>
            <p><b>Card holder: </b>&nbsp;Owner</p>
            <hr>
            <h2 class="">Products</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Qty</th>
                  <th scope="col">Product</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                {{> order-partial}}
              </tbody>
            </table>
            <div>
              <p><b>Subtotal: €</b>&nbsp;Subtotal</p>
              <p><b>Tax: €</b>&nbsp;Tax</p>
              <p><b>Total: €</b>&nbsp;Total</p>
            </div>
          </div>


        </div>
      </div>
  </div>
  <br><br>
  </main>
  {{> footer-partial}}
  </div>