<div class="container">
  {{> nav-partial}}
      <div class="container">
        <div class="row">
          <div class="justify-content-center w-75 mx-auto">
              <h2 class="">Profile</h2>
              <p><b>Name:</b>&nbsp;Name</p>
              <p><b>Surname:</b>&nbsp;Surname</p>
              <p><b>Birth:</b>&nbsp;Birth date</p>
              <p><b>Address:</b>&nbsp;Address</p>
              <p><b>Email:</b>&nbsp;Email address</p>
              <hr>
              <h2 class="">Order list</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Number</th>
                    <th scope="col">Total</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{> profile-partial}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <br><br>
    </main>
    {{> footer-partial}}
  </div>