<main>
    {{> nav-partial}}
      <div class="container">
        <div class="row">
          <div class="justify-content-center w-75 mx-auto">
            <form id="purchase-form">
              <h2 class="">Purchase</h2>
              <div class="form-group">
                <label for="date" class="sr-only">Date</label>
                <input type="date" id="date" class="form-control" placeholder="Date" required="" autofocus="" value="">
              </div>
              <div class="form-group">
                <label for="address" class="sr-only">Address</label>
                <input type="text" id="address" class="form-control" placeholder="Address" required="" autofocus=""
                  value="Address">
              </div>
              <div class="form-group">
                <label for="cardNumber" class="sr-only">Card Number</label>
                <input type="number" id="cardNumber" class="form-control" placeholder="Card Number" required=""
                  autofocus="" value="">
              </div>
              <div class="form-group">
                <label for="cardHolder" class="sr-only">Card Holder</label>
                <input type="text" id="cardHolder" class="form-control" placeholder="Card Holder" required=""
                  autofocus="" value="Card Owner">
              </div>
              <h2 class="">Items</h2>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Qty</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each item}}
                  {{> purchase-partial}}
                  {{/each}}
                </tbody>
              </table>
              <hr>
              <p><b>Subtotal: €</b>&nbsp;Subtotal</p>
              <p><b>Tax: €</b>&nbsp;Tax</p>
              <p><b>Total: €</b>&nbsp;Total</p>
              <div class="d-flex justify-content-end"><a class="btn btn-primary" href="index" role="button">
                  Checkout
                </a></div>
            </form>
          </div>
        </div>
      </div>
      <br><br>
    </main>
    {{> footer-partial}}
  </div>