<div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-3">
            <div class="card">
              <img class="card-img-top">{{url}}</img>
              <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">{{description}}</p>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="font-weight-bold display-4">{{price}}</div><a href="#"
                    class="btn btn-primary btn-lg ml-3">Buy</a>
                </div>
              </div>
            </div>
          </div>