<tr class="small">
    <td>1</td>
    <td>Product 1</td>
    <td>Price</td>
    <td>Total</td>
    <td>
    <div class="input-group">
        <div class="input-group-append">
        <button class="btn btn-outline-danger dropdown-toggle btn-sm" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Remove</button>
        <div class="dropdown-menu">
            <a class="dropdown-item">One</a>
            <a class="dropdown-item">All</a>
        </div>
        </div>
    </div>
    </td>
</tr>